
/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  color: #000;
  font-size: 1.4rem;            
}

a, a:hover, a:visited{                /* ATTENTION LES LIENS SONT BLANC DANS CE MODELE*/
  color: #000;
  text-decoration: none;
}
img{
  max-width:100%;
  height: auto;
  vertical-align: middle; 
}





